@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

html {
  font-family: 'Tahoma', sans-serif;
  color: #ffffff;
  min-height: 100%;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
  font: 2em;
  text-align: center;
}

p {
  font-family: Tahoma, sans-serif;
}

.zacatek {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20%;
  border-radius: 5px;
  text-align: center;
}

.uvodni {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.podklad1 {
  font-size: 1rem;
  text-align: center;
  box-align: center;
}


.podklad2 {
  max-width: 100%;
  font-size: 1rem;
  box-align: center;
  border: none;
  margin-bottom: 0px;
}

.pravidla-tlacitko {
  background-color: #1fcca4;
  height: 35px;
  margin-bottom: 1px;
  width: 100%;
  color: #ffffff;
  border: none;
}

.hra-tlacitko {
  background-color: #0197f6;
  height: 35px;
  border: none;
  margin-bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  color: #ffffff;
}


.pravidla-tlacitko:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.hra-tlacitko:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* ----------------- */
.hra_box{
  /* background-repeat: no-repeat;
  text-align: flex-end; */
  display: flex;
  
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
  align-items: center;
}

.hra_nadpis{
  font-size: 3rem;
  text-align: center;
}

.hraci_pole{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;

}

.radek{
  display: flex;
  flex-wrap: nowrap;
}

.hraci_pole_policko {
  border: 0.05rem #2e3c47 solid;
  height: calc(60vw / 10);
  width: calc(60vw / 10);
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.hraci_pole_policko:hover {
background-color: rgb(227, 242, 249);
cursor: pointer;
}

.hra_podnadpis{
  flex-direction: row;
  justify-content: flex-end;
}

.hra_text{
  font-size: 2rem;
}

.hra_image{
  height: 2rem;
  padding: 0 0 0 1.5rem;
}

.hra_hrac{
  display: flex;
  align-items: center;
  color: white;
}


.hra_ikony {
  flex-direction: row-reverse;
  justify-content: flex-end;

}

.hra-tlacitko {
  padding: 0.8rem;
  border-radius: 0%;
}

.pravidla-tlacitko {
  padding: 0.8rem;
}
