@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

html {
  font-family: 'Tahoma', sans-serif;
  color: #ffffff;
  min-height: 100%;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
  font: 2em;
  text-align: center;
}

p {
  font-family: Tahoma, sans-serif;
}

.zacatek {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20%;
  border-radius: 5px;
  text-align: center;
}

.uvodni {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.podklad1 {
  font-size: 1rem;
  text-align: center;
  box-align: center;
}


.podklad2 {
  max-width: 100%;
  font-size: 1rem;
  box-align: center;
  border: none;
  margin-bottom: 0px;
}

.pravidla-tlacitko {
  background-color: #1fcca4;
  height: 35px;
  margin-bottom: 1px;
  width: 100%;
  color: #ffffff;
  border: none;
}

.hra-tlacitko {
  background-color: #0197f6;
  height: 35px;
  border: none;
  margin-bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  color: #ffffff;
}


.pravidla-tlacitko:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.hra-tlacitko:hover {
  background-color: #0090e9;
  cursor: pointer;
}
